.login_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    background-color: #0c1022;
}

  /* CSS for forgot password */

  
  .forgot-password-tabs li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-password-tabs li.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .forgot-password-tab-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }

  
  
  
  .login_form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .login_form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input_group {
    display: flex;
    margin-bottom: 10px;
  }
  
  .input_group i {
    padding: 10px;
    font-size: 20px;
    background-color: #eee;
  }
  
  .input_text {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button_group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button_group a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .fotter {
    text-align: center;
    margin-top: 20px;
  }
  
  .fotter a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login_form.animated {
    animation: shake 0.5s ease-in-out forwards;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translate3d(0, 0, 0);
    }
    25%, 75% {
      transform: translate3d(-10px, 0, 0);
    }
    50% {
      transform: translate3d(0, 0, 0);
    }
  }
  